<h1 class="title">MAZAIRA S.L.</h1>




<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="<%= asset_path 'libtech.png'%>" class="img-responsive" alt="snow">
    </a>
    <a href="#" class="thumbnail">
      <img src="<%= asset_path 'gopro3.jpg' %>" class="img-responsive" alt="...">
    </a>
    <a href="#" class="thumbnail">
      <img src="<%= asset_path 'peacemaker.jpg'%>" class="img-responsive" alt="...">
    </a>
    <a href="#" class="thumbnail">
      <img src="<%= asset_path 'fixie.jpg'%>" alt="...">
    </a>
  </div>
 
</div>

<h1 class="title2">GIVE ME YOUR MONEY</h1>

